.form-wrapper {
  width: 100%;
  min-height: 14rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 75em) {
    min-height: 12rem;
  }
}

.form {
  &__content {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    text-align: center;

    @media (max-width: 75em) {
      font-size: 2.2rem;
      line-height: 2.6rem;
      margin-bottom: 1.5rem;
    }
  }

  &__manage-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1rem;
  }

  &__button {
    display: inline-block;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    align-self: stretch;
    padding: 0 2rem;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;

    margin-left: 1.5rem;

    @media (max-width: 62.5em) {
      margin-left: 1rem;
      padding: 0 1rem;
    }

    @media (max-width: 53.125em) {
      margin-left: 2rem;
      padding: 0 3rem;
    }

    @media (max-width: 37.5em) {
      font-size: 1.8rem;
      margin-left: 1rem;
      padding: 0 1rem;
    }
  }

  &__para {
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    color: red;

    @media (max-width: 75em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  &__input {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;

    @media (max-width: 93.75em) {
      width: 100%;
    }

    & input {
      display: inline-block;
      font-size: 2.2rem;
      line-height: 2.6rem;
      padding: 1rem 1.5rem;
      border: 1px solid #000000;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      width: 100%;

      @media (max-width: 75em) {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 0.75rem 1rem;
      }

      @media (max-width: 25em) {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }
  }
}

input.invalid {
  border: 1px solid red;
}

.hidden {
  visibility: hidden;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  color: red;

  @media (max-width: 75em) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-para {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @media (max-width: 46.625em) {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 40.625em) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

.error-btn {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;

  margin-bottom: 1.5rem;

  @media (max-width: 40.625em) {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 25em) {
    font-size: 1.6rem;
  }
}
.error-btn:hover {
  background-color: #000000;
  color: white;
  border-bottom: 2px solid transparent;
}
