@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.woff2") format("woff2"),
    url("./assets/fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("./assets/fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.woff2") format("woff2"),
    url("./assets/fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media (max-width: 81.25em) {
    font-size: 56.25%;
  }

  @media (max-width: 31.25em) {
    font-size: 50%;
  }
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

*:focus {
  outline: 2px dashed grey;
  outline-offset: 0.5rem;
}

ul {
  list-style: none;
}
